<h1>Battle!</h1>
<h2>Who wants to start a fight?</h2>

<form action='/names' method='post'>
  <label for='p1_name'>
    Player 1 name:
    <input type='text' name='p1_name'><br>
  </label>
  <label for='p2_name'>
    Player 2 name:
    <input type='text' name='p2_name'><br>
  </label>
  <input type='submit' name='Submit'>
</form>